/CORTE_3/PATRONES_GOF/PATRON_COMPOSITE/EjemploPatronComposite/nbproject/private/
/CORTE_3/PATRONES_GOF/PATRON_DECORATOR/EjemploPatronDecorator/nbproject/private/
/CORTE_3/PATRONES_GOF/PATRON_DECORATOR/EjemploPatronFacade/nbproject/private/
/CORTE_3/PATRONES_GOF/PATRON_FACADE/ejemplopatronfacade2/nbproject/private/
/CORTE_3/PATRONES_COMPORTAMENTALES/PATRON_MEDIATOR/EjemploPatronMediator/nbproject/private/
/CORTE_3/PATRONES_COMPORTAMENTALES/PATRON_OBSERVER/EjemploPatronObserver/nbproject/private/
/CORTE_3/PATRONES_COMPORTAMENTALES/PATRON_COMMAND/EjemploPatronCommand/nbproject/private/
/CORTE_3/PATRONES_COMPORTAMENTALES/PATRON_OBSERVER/Ejemplo2PatronObserver/nbproject/private/
